.maincontainer {
  max-width: 1440px;
  width: 100%;
  height: 1870px;
  margin: 0 auto;
  background-color: rgb(246, 239, 239);
}
.secondcontainer {
  max-width: 1110px;
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 196px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1 {
  display: flex;
  justify-content: space-between;
}
.butheader {
  height: 58px;
  width: 175px;
  border-radius: 8px;
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #162542;
  background-color: #e8eff2;
  border: none;
}
h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;
  text-transform: uppercase;
  color: #162542;
}
h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #7b8bad;
  width: 445px;
  height: 78px;
}
h3 {
  display: inline-block;
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #7b8bad;
  margin-top: 15px;
}
.butsect1 {
  height: 58px;
  width: 175px;
  border-radius: 8px;
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #162542;
  background-color: #f16718;
  border: none;
}
.divsect1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.div1 {
  display: flex;
  gap: 40px;
}
.section2 {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
h4 {
  width: 200px;
  height: 108px;
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  text-transform: uppercase;
  color: #162542;
}
h5 {
  width: 255px;
  height: 130px;
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #7b8bad;
}
.divsevt2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.imgsect22 {
  margin-left: -60px;
}
h6 {
  width: 150px;
  height: 56px;
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #162542;
  text-align: start;
}
.section3 {
  display: flex;
  justify-content: space-between;
  margin-top: 170px;
}
