.maincontainer {
  max-width: 1440px;
  width: 100%;
  height: 1870px;
  margin: 0 auto;
  background-color: rgb(246, 239, 239);
}
.secondcontainer {
  max-width: 1110px;
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 196px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1 {
  display: flex;
  justify-content: space-between;
}
.butheader {
  height: 58px;
  width: 175px;
  border-radius: 8px;
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #162542;
  background-color: #e8eff2;
  border: none;
}
h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;
  text-transform: uppercase;
  color: #162542;
}
h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #7b8bad;
  width: 445px;
  height: 78px;
}
h3 {
  display: inline-block;
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #7b8bad;
  margin-top: 15px;
}
.butsect1 {
  height: 58px;
  width: 175px;
  border-radius: 8px;
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #162542;
  background-color: #f16718;
  border: none;
}
.divsect1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.div1 {
  display: flex;
  gap: 40px;
}
